body{
    background-color:rgb(19, 59, 82) ;
    font: rgb(222, 227, 224);
}

header{
    color: white;
    text-align: center;
    text-decoration:underline;
}

section{
    background-color: aliceblue;
    border-radius: 15px;
    padding: 18px;
    width: 500px;
    margin: auto;
    text-align: center;
    box-shadow:5px 5px 10px rgba(0, 0, 0, 0.719);
}

footer{
    text-align: center;
    color: blanchedalmond;
    font-family:monospace;
    
}